@page "/journal"
@inject AccountService AccountService
@inject ExpenseService ExpenseService

<PageTitle>Journal</PageTitle>

<h1>Journal</h1>

<p>View, log, and modify expenses.</p>

@if (ExpenseService.Expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in ExpenseService.Expenses)
            {
                <tr>
                    <td>@expense.ExpenseID</td>
                    <td>$@expense.Amount</td>
                    <td>@expense.Name</td>
                    <td>@expense.Category</td>
                    <td>@expense.Description</td>
                    <td>@expense.Notes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ExpenseService.FetchAllExpensesAsync(AccountService.UserID, 0);
        ExpenseService.OnExpensesUpdated += RefreshTable;
    }

    private void RefreshTable(){
        InvokeAsync(StateHasChanged);
    }
}
