@page "/journal"
@inject AccountService AccountService
@inject ExpenseService ExpenseService
@inject ISessionStorageService SessionStorage

@using System.Text.RegularExpressions

@layout MainLayout

<PageTitle>Journal</PageTitle>

<h1>Journal</h1>

<p>View, log, and modify expenses.</p>

@if (ExpenseService.Expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table w-full">
        <thead>
            <tr>
                <th class="border">Amount</th>
                <th class="border">Name</th>
                <th class="border">Category</th>
                <th class="border">Tags</th>
                <th class="border">Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in ExpenseService.Expenses)
            {
                // All tags corresponding the current expense
                List<string> tags = ExpenseService.ExpenseTagPairs
                .Where(pair => pair.ExpenseID == expense.ExpenseID)
                .Select(pair => pair.Tag)
                .ToList();

                if (ExpenseService.mostRecentTimestamp == null || expense.Timestamp != ExpenseService.mostRecentTimestamp)
                {
                    <tr class="date-row">
                        <td colspan="6" class="font-bold">
                            @expense.Timestamp.ToString("MM/dd/yyyy")
                        </td>
                    </tr>
                    ExpenseService.mostRecentTimestamp = expense.Timestamp;
                }
                <tr @onclick="@(() => OpenEditModal(expense))">
                    <td class="border">$@expense.Amount.ToString("F2")</td>
                    <td class="border">@expense.Name</td>
                    <td class="border">@expense.Category</td>
                    <td class="border">
                        @foreach (string tag in tags){
                            <div class="journal-tag">@tag</div>
                        }
                    </td>
                    <td class="border">@expense.Notes</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (showModal && editableExpense != null)
{
    <div class="modal-overlay" style="position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); display:flex; align-items:center; justify-content:center;" @onclick="CloseModal">
        <div class="modal-content" @onclick:stopPropagation style="background:white; padding:20px; max-width:500px; align-items: center;">
            <h3>Edit Expense</h3>
            <div class="mx-3 my-1">
                <label>Name:</label>
                <InputText @bind-Value="editableExpense.Expense.Name" class="form-control" />
            </div>
             <div class="mx-3 my-1">
                <label>Amount:</label>
                    <div class="input-group">
                    <span class="input-group-text">$</span>
                    <InputNumber @bind-Value="editableExpense.Expense.Amount" class="form-control" step="0.01"/>
                </div>
            </div>
            <div class="mx-3 my-1">
                <label>Category:</label>
                <InputText @bind-Value="editableExpense.Expense.Category" class="form-control" />
            </div>
            
            <NewTagInput AddNewTagCallback="AddNewTag"/>
            
            @if (editableExpense.AllTags.Count > 0)
            {
                <TagContainer Tags="editableExpense.AllTags" />
            }

            <div class="mx-3 my-1">
                <label>Notes:</label>
                <textarea class="form-control" @bind="editableExpense.Expense.Notes"></textarea>
            </div>

            <div class="mx-3 my-1">
                <label>Date:</label>
                <InputDate @bind-Value="editableExpense.Expense.Timestamp" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary mx-3 mt-2" @onclick="SaveExpense">Save</button>
            <button type="submit" class="btn btn-primary mx-3 my-2" @onclick="CloseModal">Cancel</button>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private MainLayout MainLayout { get; set; }
    private int userID;
    private bool showModal = false;
    private EditableExpense editableExpense = new();

    protected override async Task OnInitializedAsync()
    {
        userID = await SessionStorage.GetItemAsync<int>("UserID");
        if (userID == 0){
            throw new InvalidOperationException("Tried accessing journal without a User ID.");
        }
        await ExpenseService.FetchPageOfExpensesAsync(userID, 0);
        ExpenseService.OnExpensesUpdated += RefreshTable;
    }

    private void RefreshTable(){
        InvokeAsync(StateHasChanged);
    }

    private void OpenEditModal(Expense expense)
    {
        editableExpense.Expense = new Expense
        {
            UserID = expense.UserID,
            ExpenseID = expense.ExpenseID,
            Name = expense.Name,
            Amount = expense.Amount,
            Category = expense.Category,
            Notes = expense.Notes,
            Timestamp = expense.Timestamp
        };
        editableExpense.InitialTags = new HashSet<string>(ExpenseService.ExpenseTagPairs
            .Where(pair => pair.ExpenseID == expense.ExpenseID)
            .Select(pair => pair.Tag));
        editableExpense.AllTags = new HashSet<string>(editableExpense.InitialTags);
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
        editableExpense = new();
    }

    private void AddNewTag(string newTag){
        if (!string.IsNullOrWhiteSpace(newTag)){
            // Removes whitespace from beginning and end of string
            newTag = newTag.Trim();

            // Removes all consecutive occurences of whitespace characters inside of string
            newTag = Regex.Replace(newTag, @"\s{2,}", " ");

            if (!Regex.IsMatch(newTag, "^[a-zA-Z0-9 ]+$")){
                return;
            }
            if (editableExpense.AllTags.Add(newTag)){
                // Tag did not previously exist
                if (!ExpenseService.Tags.Contains(newTag)){
                    // Tag did not exist for user in the database
                    editableExpense.BrandNewTags.Add(newTag);
                }
                editableExpense.NewTag = "";
                StateHasChanged();
            }
        }
    }

    private async Task SaveExpense(){
        // Submit the category if it's new
        if (!ExpenseService.Categories.Contains(editableExpense.Expense.Category)){
            await ExpenseService.AddCategoryAsync(userID, editableExpense.Expense.Category);
        }

        // Submit any tags that didn't previously exist in the database
        bool? tagsAdded = null;
        if (editableExpense.BrandNewTags.Count > 0){
            // Add to "user_tags" table. If false an error occurred
            tagsAdded = await ExpenseService.AddUserTagsAsync(userID, editableExpense.BrandNewTags);
            editableExpense.BrandNewTags = new();
        }

        // Invalid response recieved when adding new tags
        if (tagsAdded == false){
            return;
        }

        // Submit the expense itself
        bool expenseSuccessfullyUpdated = await ExpenseService.UpdateExpenseAsync(editableExpense.Expense, editableExpense.AllTags);
        if (expenseSuccessfullyUpdated){
            _ = MainLayout.ShowNotification($"\"{editableExpense.Expense.Name}\" ({editableExpense.Expense.Timestamp.ToString("MM/dd/yyyy")}) successfully updated!", true);
            CloseModal();
        }
    }
}

<style>
    .date-row {
        background-color: #e5e7eb;
        font-weight: bold;
    }

    .journal-tag {
        display: inline-block;
        background-color:  #e5e7eb;
        border-radius: 15px;
        padding: 6px 15px;
        color: black !important;
        text-align: center;
        margin: 2px;
        align-items: center;
        gap: 6px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 250px;
    }

    table.table th,
    table.table td {
    vertical-align: middle;
    }
</style>
